
body {
    background-image: url('./parking.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    height: 100vh;
}

h1 {
    color: white;
}
/* Estilos para las plazas de aparcamiento */
.plaza {
    margin: 5px; /* Margen entre las plazas */
    line-height: 50px; /* Altura de línea para centrar verticalmente el texto */
}

/* Estilos para el icono del coche */
.fa-car {
    color: rgb(0, 0, 0); /* Color del icono del coche */
}

.libre {
    background-color: green;
}

.ocupado {
    background-color: red;
}